

/*celular deitado SIM*/
@media (max-width: 1000px) {
    
    #pedidos {
        margin: 6px;
        font-size: 0.9em;
        border-radius: 5px;
        border: solid 1px rgb(0, 0, 0) ;
        height: 70px;
        width: 550px;
        color: rgb(255, 252, 252);
        background-color: rgb(100, 126, 210);
        display: none;
    }
    #botao {
       
        position: absolute;
        height: 70px;
        left: 550px;
        border-radius: 10px;
    }
    span {
        transform: scale(1.5);
    }

    .lanches,.bebidas,.sobremesa {  
        
        height: 350px;  
    }
    .lanches p,.bebidas p,.sobremesa p  {
        font-size: 7em;
    }
    .posicao {
        position: relative;
        top: 80px;
    }
    #imgLanche {
        height: 80px;
        width: 85px;
    }
    #menu01,#menu02,#menu03 {
        height: 125px;
        padding: 12px;
    }
    #menu01 p,#menu02 p,#menu03 p {
        font-size: 9px;
    }
    .lbs {
    width: 100vw;
    border-radius: 5px;
    }
    .enviar {
        font-size: 11px;
        height: 18px;
        width: 42px;
    }
    footer {
        font-family: 'Times New Roman', Times, serif;
        background-color: red;
        color: white;
        padding: 10px;
    }
    footer p {
        font-size: 1.5em;
    }
}



/*---Celular de PÉ*/
@media  screen and (max-width: 600px) and (max-width: 768px){

    #pedidos {
        margin: 6px;
        font-size: 0.9em;
        border-radius: 5px;
        border: solid 1px rgb(0, 0, 0) ;
        height: 70px;
        width: 325px;
        color: rgb(255, 252, 252);
        background-color: rgb(100, 126, 210);
        display: none;
    }
    #botao {
       
        position: absolute;
        height: 70px;
        left: 325px;
        border-radius: 10px;
    }

    .lanches,.bebidas,.sobremesa {  
        height: 255px;  
    }
    .lanches p,.bebidas p,.sobremesa p  {
        font-size: 4.2em;
    }

    .posicao {
        position: relative;
        top: 50px;
    }
    #imgLanche {
        height: 80px;
        width: 85px;
    }
    #menu01,#menu02,#menu03 {
        height: 125px;
        padding: 12px;
    }
    #menu01 p,#menu02 p,#menu03 p {
        font-size: 8.5px;
    }
    .lbs {
    width: 100vw;
    border-radius: 5px;
    }
    .enviar {
        font-size: 11px;
        height: 18px;
        width: 42px;
    }
    
    footer p {
        font-size: 1em;
    }
}

